body {
	background-color: lightgray;
}

div{
	color: white;
	padding: 20px;
	margin: 40px;
	width: 30%;
	display: inline-block;
	border-radius: 100px;
}
#day {
	background-color: lightpink;
	border: 10px double lightcoral;
	}
#night{
	background-color: darkblue;
	border: 10px double lightblue;
}


}